<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" id="background-home">

    <button type="button" [hidden]="true" #openbutton class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open</button>

    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-dialog-scrollable">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <span style="font-weight: bold;font-size: larger ;color: var(--companyColor)">Listado de Pagos</span>
            <button type="button" #closebutton class="close" data-dismiss="modal">&times;</button>
<!--            <h4 class="modal-title">Modal Header</h4>-->
          </div>
          <div class="modal-body">
            <button class="btn btn-primary btn-sm mb-3" (click)="generateReports()">PDF</button>
            <div *ngFor="let d of infoPagos">
              <ul>
                <li><b>Numero de Cuota</b> : <span>{{d[0]}}</span></li>
                <li>Fecha Vencimiento : <span>{{d[1]}}</span></li>
                <li>Periodo : <span>{{d[2]}}</span></li>
                <li>Valor Cuota : <span>{{d[3] | currency}}</span></li>
              </ul>
            </div>
          </div>
<!--          <div class="modal-footer">-->
<!--            <button type="button" class="btn btn-danger" id="closeModal" (click)="onSave()">Save</button>-->
<!--          </div>-->
        </div>
      </div>
    </div>

    <div class="modal fade" id="modal-default" data-backdrop="static" data-keyboard="false" tabindex="-1">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content" style="width: auto">
          <div class="modal-header">
            <h4 class="modal-title"><b style="font-size: larger">Proceso # <a style="color: var(--companyColor)">{{PROCESO}}</a></b>
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body modal-dialog-scrollable">
            <div>
              <div class="callout callout-danger">
                <p><b style="color: var(--companyColor);font-size: 16px">Información General</b></p>
                <p><b>Tipo Proceso :</b> {{TIPO_PROCESO}}</p>
                <p><b>Tipo Contrato :</b> {{TIPO_CONTRATO}}</p>
                <p><b>Justificación Tipo Contrato :</b> {{JUST_TIPO_PROCESO}}</p>
                <p style="word-break: break-all"><b>Nombre Proceso :</b> {{NOMBRE_PROCESO}}</p>
                <p><b>Unidad Contratación :</b> {{UNI_CONTRATACION}}</p>
                <p><b>Equipo Contratación :</b> {{EQUIPO_CONTRATACION}}</p>
                <p style="word-break: break-all"><b>Objeto Proceso :</b> {{DESCRIPCION_PROCESO}}</p>
              </div>


              <div class="callout callout-danger">
                <p><b style="color: var(--companyColor);font-size: 16px">Datos Personales</b></p>
                <p><b>Tipo identificacion Proveedor :</b> {{TIP_IDEN_PROV}}</p>
                <p><b>Cédula Proveedor :</b> {{COD_PROV}}</p>
                <p><b>Nombre Proveedor :</b> {{NOM_PROV}}</p>
                <p><b>Fecha Nacimiento Proveedor :</b> {{NACIMIENTO_PROV | date}}</p>
                <p><b>Genero Proveedor :</b> {{GENERO_PROV}}</p>
                <p><b>Email Proveedor :</b> {{CORREO_PROV}}</p>
                <p><b>Dpto Proveedor :</b> {{DPTO_PROV}}</p>
                <p><b>Ciudad Proveedor :</b> {{CIUDAD_PROV}}</p>
                <p><b>Ubicación Proveedor :</b> {{UBICACION_PROV}}</p>
                <p><b>Categoria Contratación :</b> {{CATE_CONTRATACION}}</p>
                <p><b>Profesión Proveedor :</b> {{PROFESION_PROV}}</p>
              </div>

              <div class="callout callout-danger">
                <p><b style="color: var(--companyColor);font-size: 16px">Configuración</b></p>
                <p><b>Documentos Tipo :</b> {{DOCUMENTOS_TIPO}}</p>
                <p><b>Interadministrativos :</b> {{INTERADMINISTRATIVOS}}</p>
                <p><b>Definir Lotes :</b> {{DEFINIR_LOTES}}</p>
                <p><b>Fecha de Inicio :</b> {{FECHA_INICIO | date}}</p>
                <p><b>Fecha de Termino :</b> {{FECHA_TERMINO | date}}</p>
                <p><b>Firma de Contrato :</b> {{FIRMA_CONTRATO | date}}</p>
                <p><b>Plazo de Ejecución :</b> {{PLAZO_EJECUCION | date}}</p>
                <p><b>Plan de Pagos :</b> {{PLAN_PAGOS}}</p>
                <p><b>Valor Oferta :</b> {{VAL_OFERTA | currency}}</p>
                <p><b>Duración Contrato :</b> {{TIEMPO_DURACION_CONTRATO}} {{DURACION_CONTRATO}}</p>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <!--            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
<!--            <button type="button" class="btn btn-secondary"-->
<!--                    data-dismiss="modal"-->
<!--                    (click)="rechazarAutorizacion(PROCESO)"-->
<!--                    [ngStyle]="{'display': (ROL == 40 && ESTADO != 1) ? 'none' : (ROL == 41 && ESTADO !=2) ? 'none' : (ROL == 42 && ESTADO != 3) ? 'none' : 'block' }">-->
<!--              Rechazar-->
<!--            </button>-->
<!--            <button type="button" class="btn btn-primary"-->
<!--                    data-dismiss="modal"-->
<!--                    (click)="aprobarAutorizacion(PROCESO)"-->
<!--                    [ngStyle]="{'display': (ROL == 40 && ESTADO != 1) ? 'none' : (ROL == 41 && ESTADO !=2) ? 'none' : (ROL == 42 && ESTADO != 3) ? 'none' : 'block' }">-->
<!--              Autorizar-->
<!--            </button>-->


            <button type="button" class="btn btn-warning"
                    data-dismiss="modal"
                    (click)="fillModal(PROCESO)"
                    [ngStyle]="{'display':
                    (ROL == 40 && ESTADO == 1) ? 'none' : (ROL == 41 && ESTADO ==2) ? 'none' : (ROL == 42 && ESTADO == 3) ? 'none' : (ROL == 41 && ESTADO == 1) ? 'none' : (ROL == 42 && ESTADO ==1) ? 'none' : 'block' }">
              Historial
            </button>
            <button type="button" class="btn btn-outline-primary"
                    data-dismiss="modal"
                    (click)="getPagosXRpc()"
                    [ngStyle]="{'display': (ESTADO >= 7) ? 'block' :'none'}">
              Pagos
            </button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <section class="content-header">
      <div class="container-fluid"></div>
      <!-- /.container-fluid -->
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="card ml-3 mr-3">
          <div class="card-header mb-3" style="background-color: var(--companyColor)">
            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              >
                <i class="fas fa-minus"></i>
              </button>
            </div>

            <h6 class="card-title ml-3" style="color: #fff;font-size: larger;margin-bottom: 0">
              <i class="fas fa-search"></i>
              <b>  {{'busqueda.busqueda' | translate}}</b>
            </h6>
          </div>

          <!--          <div class="ml-4">-->
          <!--            <button type="button" class="btn btn-outline-secondary btn-sm">Imprimir</button>-->
          <!--&lt;!&ndash;            <button type="button" class="btn btn-outline-success btn-sm ml-1">Autorizar</button>&ndash;&gt;-->
          <!--          </div>-->

          <div class="card-body">
            <div class="row">

              <!-- ./col -->
              <div class="col-md-12">
                <div class="card">
                  <!-- /.card-header -->
                  <div class="card-body">
                    <form [formGroup]="busquedaForm" (ngSubmit)="searchData()"
                          (keydown.enter)="$event.preventDefault()">
                      <div class="row">
                        <div class="col-12 col-sm-3">
                          <div class="form-group">
                            <label class="font-weight-normal text-sm"> Identificación </label>
                            <input
                              formControlName="identificacion"
                              type="number"
                              class="form-control"
                            />
                          </div>
                        </div>
                        <div class="col-12 col-sm-3">
                          <div class="form-group">
                            <label class="font-weight-normal text-sm"> Proveedor </label>
                            <select
                              formControlName="proveedor"
                              class="form-control text-sm"
                            >
                              <option></option>
                              <option *ngFor="let pro of proveedores" value="{{ pro.NOM_PROV }}">
                                {{pro.NOM_PROV}}
                              </option>
                            </select>
                          </div>
                        </div>
                        <div class="col-12 col-sm-3">
                          <div class="form-group">
                            <label class="font-weight-normal text-sm">Creador del Proceso</label>
                            <select
                              formControlName="creador"
                              class="form-control text-sm"
                            >
                              <option></option>
                              <option *ngFor="let cre of creador" value="{{ cre.USR_LOGIN }}">
                                {{cre.USR_LOGIN}}
                              </option>
                            </select>
                          </div>
                        </div>
                        <div class="col-12 col-sm-3">
                          <div class="form-group">
                            <label class="font-weight-normal text-sm"># Proceso</label>
                            <input
                              type="text"
                              formControlName="proceso"
                              class="form-control"
                            />
                          </div>
                        </div>

                        <div [hidden]="ROL != 42" class="col-12 col-sm-12">
                          <div class="form-group">
                            <label class="font-weight-normal text-sm">Centro Gestor</label>
                            <select
                              formControlName="centroGestor"
                              class="form-control text-sm"
                            >
                              <option></option>
                              <option *ngFor="let ges of gestor" value="{{ ges.USC_GESTOR }}">
                                {{ges.USC_GESTOR}}
                              </option>
                            </select>
                          </div>
                        </div>
                        <button
                          [disabled]="busquedaForm.invalid"
                          type="submit"
                          class="btn btn-primary float-left btn-sm btn-block"
                        >
                          <b>Buscar <i class="fa fa-search"></i></b>
                        </button>
                      </div>
                    </form>

                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- ./col -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="card ml-3 mr-3">
<!--          <div class="card-header" style="background-color: lavender">-->
<!--            <div class="card-tools">-->
<!--              <button-->
<!--                type="button"-->
<!--                class="btn btn-tool"-->
<!--                data-card-widget="collapse"-->
<!--              >-->
<!--                <i class="fas fa-minus"></i>-->
<!--              </button>-->
<!--            </div>-->

<!--            <h6 class="card-title ml-3" style="color: #545cd8;font-size: larger;margin-bottom: 0">-->
<!--              <b>{{ "administration-CI.panels.menu2" | translate }}</b>-->
<!--            </h6>-->
<!--          </div>-->
          <div class="card-body">
            <div>
              <div class="table-responsive">
                <mat-form-field appearance="fill">
                  <mat-label>Filter</mat-label>
                  <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                </mat-form-field>
                <div id="div_container" class="mat-elevation-z8">
                  <table mat-table [dataSource]="dataSource" matSort>
                    <!-- ID Column -->
                    <ng-container matColumnDef="Num">
                      <th mat-header-cell *matHeaderCellDef style="font-size: 14px;font-weight: bolder;color: black;" mat-sort-header>
                        Número
                      </th>
                      <td mat-cell *matCellDef="let row"
                          style="font-size: 12px;color: #545cd8; font-weight: bold"> {{row.CONS_PROCESO | uppercase}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Identificacion">
                      <th mat-header-cell *matHeaderCellDef style="font-size: 14px;font-weight: bolder;color: black">
                        Identificación
                      </th>
                      <td mat-cell *matCellDef="let row"
                          style="font-size: 12px;word-break: break-all"> {{row.COD_PROV  | number}} </td>
                    </ng-container>

                    <!-- Progress Column -->
                    <ng-container matColumnDef="Nombre">
                      <th mat-header-cell *matHeaderCellDef style="font-size: 14px;font-weight: bolder;color: black" mat-sort-header>
                        Contratista
                      </th>
                      <td mat-cell *matCellDef="let row"
                          style="font-size: 12px;word-break: break-all"> {{row.NOM_PROV | titlecase}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="Estado">
                      <th mat-header-cell *matHeaderCellDef style="font-size: 14px;font-weight: bolder;color: black" mat-sort-header>
                        Estado
                      </th>
                      <td mat-cell *matCellDef="let row" style="font-size: 12px;font-weight: bold" >
                        <a [ngStyle]="{'color': (row.ESTADO == 0) ? 'red' :
                        (row.ESTADO >= 2 && row.ESTADO <= 6) ? 'gray' :
                        (row.ESTADO == 1) ? 'red' :
                        (row.ESTADO == 7) ? 'green' :
                        (row.ESTADO == 0) ? 'black' : 'blue' }">
                          {{(row.ESTADO >= 3 && row.ESTADO <= 6) ? 'Pendiente Aprobación' :
                          (row.ESTADO == 0) ? 'Rechazado' :
                            (row.ESTADO == 1) ? 'Anulado' :
                            (row.ESTADO == 7) ? 'Aprobado' : ''}}</a>
                      </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="Fecha">
                      <th mat-header-cell *matHeaderCellDef style="font-size: 14px;font-weight: bolder;color: black" mat-sort-header>
                        Fecha Proceso
                      </th>
                      <td mat-cell *matCellDef="let row"
                          style="font-size: 12px;"> {{row.CREATED | date}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="Creador">
                      <th mat-header-cell *matHeaderCellDef style="font-size: 14px;font-weight: bolder;color: black" mat-sort-header>
                        Creador
                      </th>
                      <td mat-cell *matCellDef="let row"
                          style="font-size: 12px;">{{row.USR_LOGIN | titlecase}} </td>
                    </ng-container>

                    <!-- Fruit Column -->
                    <!--                    <ng-container matColumnDef="Equipo">-->
                    <!--                      <th mat-header-cell *matHeaderCellDef  style="font-size: 14px;font-weight: bolder;color: black"> Equipo </th>-->
                    <!--                      <td mat-cell *matCellDef="let row" style="font-size: 12px;"> {{row.UNI_CONTRATACION | titlecase}} </td>-->
                    <!--                    </ng-container>-->

                    <!-- Fruit Column -->
                    <!--                    <ng-container matColumnDef="Equipo">-->
                    <!--                      <th mat-header-cell *matHeaderCellDef  style="font-size: 14px;font-weight: bolder;color: black"> Equipo </th>-->
                    <!--                      <td mat-cell *matCellDef="let row" style="font-size: 12px;"> {{row.EQUIPO_CONTRATACION | titlecase}} </td>-->
                    <!--                    </ng-container>-->

                    <!-- Fruit Column -->
                    <ng-container matColumnDef="ValorOferta">
                      <th mat-header-cell *matHeaderCellDef style="font-size: 14px;font-weight: bolder;color: black" mat-sort-header>
                        Valor Oferta
                      </th>
                      <td mat-cell *matCellDef="let row"
                          style="font-size: 12px;color: rosybrown;font-weight: bold"> {{row.VAL_OFERTA | currency}}</td>
                    </ng-container>

                    <!--                    <ng-container matColumnDef="opciones">-->
                    <!--                      <th mat-header-cell *matHeaderCellDef  style="font-size: 14px;font-weight: bolder;color: black"> Opciones </th>-->
                    <!--                      <td mat-cell *matCellDef="let row" style="font-size: 12px;color: rosybrown;font-weight: bold"> <a routerLink="dashboard">Opciones</a> </td>-->
                    <!--                    </ng-container>-->

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr class="hoverOnTable" (click)="goDetail(row)" data-toggle="modal" data-target="#modal-default"
                        mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                  </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <br>

  </div>
</div>
