<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" id="background-home">
    <section class="content-header">
      <div class="container-fluid"></div>
      <!-- /.container-fluid -->
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="card ml-3 mr-3" style="box-shadow: unset !important;background-color: transparent">
          <div class="card-header mb-3"
               style="background-color: var(--companyColor);box-shadow: 1px 1px 5px lightgray;">
            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              >
                <i class="fas fa-minus"></i>
              </button>
            </div>

            <h6 class="card-title ml-3" style="color: var(--labelColor);font-size: larger;margin-bottom: 0">
              <!--              <i class="fas fa-text-width"></i>-->
              <span>  {{'autorizaciones.historial' | translate}}</span>
            </h6>
          </div>

          <!--          <div class="ml-4">-->
          <!--            <button type="button" class="btn btn-outline-secondary btn-sm">Imprimir</button>-->
          <!--&lt;!&ndash;            <button type="button" class="btn btn-outline-success btn-sm ml-1">Autorizar</button>&ndash;&gt;-->
          <!--          </div>-->

          <div class="card-body">
            <div class="row">

              <!-- ./col -->
              <div class="col-md-12">
                <div class="card">


                  <div class="card-header">
                    <h3 class="card-title">
                      <!--                      -->
                      <!--                      <i class="fas fa-text-width"></i>-->
                      <!--                      {{'autorizaciones.historial' | translate}}-->
                    </h3>
                    <form [formGroup]="tablaForm" (ngSubmit)="updateTabla()"
                          (keydown.enter)="$event.preventDefault()">
                      <div class="row">
                        <div class="col-12 col-sm-4">
                          <div class="form-group">
                            <select
                              formControlName="archivo"
                              class="form-control text-sm"
                            >
                              <option selected value="Autorizaciones">Autorizaciones</option>
                              <option *ngIf="estado_proceso >= 6">Informe Secretaría</option>
                              <option *ngIf="estado_proceso >= 7">Informe DADII</option>
                            </select>
                            <!--                            <select-->
                            <!--                              formControlName="archivo"-->
                            <!--                              class="form-control text-sm"-->
                            <!--                            >-->
                            <!--                              <option selected>Autorizaciones</option>-->
                            <!--                              <option >Informe Secretaría</option>-->
                            <!--                              <option >Informe DADII</option>-->
                            <!--                            </select>-->
                          </div>
                        </div>
                        <div class="col-12 col-sm-3">
                          <div class="form-group">
                            <!--                            <button type="button" class="btn btn-outline-success ml-1">Imprimir</button>-->
                            <i class="fa fa-print impresion" (click)="generatePdf()"></i>
                            <!--                            <i class="fa fa-cloud" style="font-size:60px;color:lightblue;text-shadow:2px 2px 4px #000000;"></i>-->
                          </div>
                        </div>
                      </div>
                      <div class="row mb-0 mt-3">

                        <div [hidden]="ROL != 4" class="col-12 col-sm-4">
                          <div class="form-group">
                            <!--                            <label class="font-weight-normal text-sm">Referencia</label>-->
                            <select
                              formControlName="referencia"
                              class="custom-select form-control-border"
                            >
                              <option selected="selected">Referencia</option>
                              <option *ngFor="let ref of REFERENCIAS">{{ref.REF_DESCRIPCION}}</option>
                              <!--                              <option>2</option>-->
                              <!--                            <option-->
                              <!--                              *ngFor="let gasto of gastos"-->
                              <!--                              value="{{ gasto }}"-->
                              <!--                            >-->
                              <!--                              {{ gasto }}-->
                              <!--                            </option>-->
                            </select>
                          </div>
                        </div>
                        <div [hidden]="ROL != 4" class="col-12 col-sm-4">
                          <div class="form-group">
                            <!--                            <label class="font-weight-normal text-sm">Asociación</label>-->
                            <select
                              formControlName="asociacion"
                              class="custom-select form-control-border"
                            >
                              <option selected="selected">Asociación</option>
                              <option *ngFor="let ref of ASOCIACION">{{ref.ASO_DESCRIPCION}}</option>
                              <!--                            <option-->
                              <!--                              *ngFor="let gasto of gastos"-->
                              <!--                              value="{{ gasto }}"-->
                              <!--                            >-->
                              <!--                              {{ gasto }}-->
                              <!--                            </option>-->
                            </select>
                          </div>
                        </div>
                        <div [hidden]="ROL != 4" class="col-12 col-sm-2">
                          <div class="form-group">
                            <button type="submit" [disabled]="prueba" class="btn btn-outline-primary btn-md"><i
                              class="fa fa-edit"></i></button>
                          </div>
                        </div>
                      </div>

                    </form>


                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <dl class="row" *ngFor="let det of response">
                      <dt class="line col-sm-3"><i style="color: #0052B4" class="fa fa-calendar-day"
                                                   aria-hidden="true"> </i> <a class="font-weight-normal text-sm"
                                                                               style="color: var(--labelColor)">
                        {{det.CREATED}}</a>
                      </dt>
                      <dd class="col-sm-9 font-weight-light text-sm">El usuario <a
                        class="color">{{det.USR_LOGIN | uppercase}}</a> designado
                        a <a
                          class="color">{{det.NOMBRE_USUARIO | uppercase}}</a><b> {{(det.AUTORIZACION_ESTADO == 0) ? 'rechazó' : (det.AUTORIZACION_ESTADO == 1) ? 'anulo' : 'aprobó'}}</b>
                        el proceso número
                        <a class="color">{{det.CONS_PROCESO}}</a>
                        relacionado a la <a class="color">{{det.TIPO_CONTRATO2 | uppercase}}</a> con
                        plazo a <a
                          class="color"> {{det.TIEMPO_DURACION_CONTRATO}} {{det.DURACION_CONTRATO | uppercase}}</a> y
                        valor <a
                          class="color">{{det.VAL_OFERTA | currency}}</a> correspondiente a <a
                          class="color">{{det.NOM_PROV | uppercase}}</a>, identificado con <span
                          class="color">{{det.TIP_IDEN_PROV | uppercase}}</span> número <span class="color">{{det.COD_PROV}}</span>.
                      </dd>
                      <dt class="line col-sm-3"></dt>
                      <dd class="col-sm-9"></dd>
                      <dt class="line col-sm-3"></dt>
                      <dd class="col-sm-9">
                        Observación: {{det.NOMBRE_USUARIO | titlecase}} {{(det.AUTORIZACION_ESTADO != 0) ? 'aprobó' : 'rechazó'}}</dd>
                      <!--                      <dd class="col-sm-10 offset-sm-2">Observación: Sandra aprobó</dd>-->
                      <!--                      <dt class="col-sm-4">Malesuada porta</dt>-->
                      <!--                      <dd class="col-sm-8">Etiam porta sem malesuada magna mollis euismod.</dd>-->
                      <!--                      <dt class="col-sm-4">Felis euismod semper eget lacinia</dt>-->
                      <!--                      <dd class="col-sm-8">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo-->
                      <!--                        sit amet risus.-->
                      <!--                      </dd>-->
                    </dl>
                  </div>

                  <div *ngIf="ISMASIVE" class="jumbotron jumbotron-fluid m-3 p-3">
                    <div class="container">
                      <h1 class="display-4">El Proceso N° <span style="color:var(--companyColor)">{{myParam}}</span>
                      </h1>
                      <p class="lead">Fue creado de forma masiva!.</p>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- ./col -->
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>
