button.btn-primary{
  background-color: var(--companyColor);
  border-color: var(--companyColor);
}
@media (min-width: 992px) {
  #intro {}
}

.cursor{
  cursor: pointer;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

table {
  width: 100%;
}

div_container{
  overflow: auto;
}

tr.hoverOnTable:hover {
  background: aliceblue;
}

div.callout{
  /*border-left-color: #0b9fa5;*/
  border-left-color: var(--companyColor);
}

.passw{
  -webkit-text-security: disc;
}

.mat-column-Id {
  width: 5%;
  border-right: 1px solid lightgray;
  /*padding-right: 1%;*/
  text-align: left;
}
.mat-column-Usuario {
  /*white-space: nowrap;*/
  /*width: 5%;*/
  /*overflow: hidden;*/
  border-right: 1px solid lightgray;
  padding-left: 1%;
  /*text-overflow: ellipsis;*/
  width: 10%;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-column-Password {
  /*white-space: nowrap;*/
  /*width: 5%;*/
  /*overflow: hidden;*/
  border-right: 1px solid lightgray;
  padding-left: 1%;
  /*text-overflow: ellipsis;*/
  width: 8%;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-column-CodigoEntidad {
  /*white-space: nowrap;*/
  /*width: 5%;*/
  /*overflow: hidden;*/
  border-right: 1px solid lightgray;
  padding-left: 1%;
  /*text-overflow: ellipsis;*/
  width: 7%;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-column-NombreEntidad {
  /*white-space: nowrap;*/
  /*width: 5%;*/
  /*overflow: hidden;*/
  border-right: 1px solid lightgray;
  padding-left: 1%;
  /*text-overflow: ellipsis;*/
  width: 20%;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-column-Gestor {
  /*white-space: nowrap;*/
  /*width: 5%;*/
  /*overflow: hidden;*/
  border-right: 1px solid lightgray;
  padding-left: 1%;
  /*text-overflow: ellipsis;*/
  width: 8%;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-column-Acciones {
  /*white-space: nowrap;*/
  /*width: 5%;*/
  /*overflow: hidden;*/
  border-right: 1px solid lightgray;
  padding-left: 1%;
  text-align: center;
  /*text-overflow: ellipsis;*/
  width: 5%;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-column-Entidad {
  /*white-space: nowrap;*/
  /*width: 5%;*/
  /*overflow: hidden;*/
  border-right: 1px solid lightgray;
  padding-left: 1%;
  /*text-overflow: ellipsis;*/
  width: 20%;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.mat-column-Rol {
  /*white-space: nowrap;*/
  /*width: 5%;*/
  /*overflow: hidden;*/
  border-right: 1px solid lightgray;
  padding-left: 1%;
  /*text-overflow: ellipsis;*/
  width: 15%;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.mat-column-EquipoContratacion {
  /*white-space: nowrap;*/
  /*width: 5%;*/
  /*overflow: hidden;*/
  border-right: 1px solid lightgray;
  padding-left: 1%;
  /*text-overflow: ellipsis;*/
  width: 20%;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-column-IdIntegracion {
  /*white-space: nowrap;*/
  /*width: 5%;*/
  /*overflow: hidden;*/
  border-right: 1px solid lightgray;
  padding-left: 1%;
  /*text-overflow: ellipsis;*/
  width: 20%;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.mat-column-TipoProceso {
  /*white-space: nowrap;*/
  /*width: 5%;*/
  /*overflow: hidden;*/
  border-right: 1px solid lightgray;
  padding-left: 1%;
  /*text-overflow: ellipsis;*/
  width: 20%;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.mat-column-Estado {
  /*white-space: nowrap;*/
  /*width: 5%;*/
  /*overflow: hidden;*/
  border-right: 1px solid lightgray;
  padding-left: 1%;
  /*text-overflow: ellipsis;*/
  width: 10%;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



.mat-column-UNI_NUMERO_PROCESO {
  /*white-space: nowrap;*/
  /*width: 5%;*/
  /*overflow: hidden;*/
  border-right: 1px solid lightgray;
  padding-left: 1%;
  /*text-overflow: ellipsis;*/
  width: 10%;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



.mat-column-USC_COD {
  /*white-space: nowrap;*/
  /*width: 5%;*/
  /*overflow: hidden;*/
  border-right: 1px solid lightgray;
  padding-left: 1%;
  /*text-overflow: ellipsis;*/
  width: 10%;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



.mat-column-UNI_NOMBRE_PROCESO {
  /*white-space: nowrap;*/
  /*width: 5%;*/
  /*overflow: hidden;*/
  border-right: 1px solid lightgray;
  padding-left: 1%;
  /*text-overflow: ellipsis;*/
  width: 10%;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
