@media (min-width: 992px) {
  #intro {}
}

.cursor{
  cursor: pointer;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

table {
  width: 100%;
}

div_container{
  overflow: auto;
}

.mat-column-Num {
  width: 18%;
  border-right: 1px solid lightgray;
  /*padding-right: 1%;*/
  text-align: left;
}
.mat-column-Nombre {
  /*white-space: nowrap;*/
  /*width: 5%;*/
  /*overflow: hidden;*/
  border-right: 1px solid lightgray;
  padding-left: 1%;
  /*text-overflow: ellipsis;*/
  width: 25%;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mat-column-Estado {
  width: 8%;
  border-right: 1px solid lightgray;
  padding-left: 1%;
  /*text-align: center;*/
  /*align-content: center;*/
}
.mat-column-Entidad {
  width: 18%;
  border-right: 1px solid lightgray;
  padding-left: 1%;
  /*text-align: center;*/
  /*align-content: center;*/
}
.mat-column-Unidad {
  width: 18%;
  border-right: 1px solid lightgray;
  padding-left: 1%;
  /*text-align: center;*/
  /*align-content: center;*/
}
.mat-column-Fecha {
  width: 10%;
  border-right: 1px solid lightgray;
  padding-left: 1%;
  /*text-align: center;*/
  /*align-content: center;*/
}
.mat-column-ValorOferta {
  width: 30%;
  /*border-right: 1px solid lightgray;*/
  padding-left: 1%;
  text-align: right;
  /*align-content: center;*/
}
.mat-column-Creador {
  width: 15%;
  border-right: 1px solid lightgray;
  padding-left: 1%;
  text-align: left;
  /*align-content: center;*/
}

.mat-column-Identificacion {
  width: 10%;
  border-right: 1px solid lightgray;
  padding-left: 1%;
  text-align: left;
  /*align-content: center;*/
}

tr.hoverOnTable:hover {
  background: aliceblue;
  cursor: pointer;
}

/*tr.hoverOnTable:not(.hoverOnTable):active {*/
/*  background: #efefef;*/
/*}*/

div.callout{
  /*border-left-color: #0b9fa5;*/
  border-left-color: var(--companyColor);
}

button.btn-primary{
  background-color: var(--companyColor);
  border-color: var(--companyColor);
}
