@media (min-width: 992px) {
  #intro {}
}

.cursor{
  cursor: pointer;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

table {
  width: 100%;
}

div_container{
  overflow: auto;
}

.mat-column-Num {
  width: 18%;
  border-right: 1px solid lightgray;
  padding-right: 1%;
  text-align: center;
}
.mat-column-Nombre {
  width: 24%;
  border-right: 1px solid lightgray;
  padding-left: 1%;
  /*text-align: center;*/
  /*align-content: center;*/
}
.mat-column-Entidad {
  width: 24%;
  border-right: 1px solid lightgray;
  padding-left: 1%;
  /*text-align: center;*/
  /*align-content: center;*/
}
.mat-column-TipoContrato {
  width: 17%;
  border-right: 1px solid lightgray;
  padding-left: 1%;
  /*text-align: center;*/
  /*align-content: center;*/
}
.mat-column-ValorOferta {
  width: 30%;
  /*border-right: 1px solid lightgray;*/
  padding-left: 1%;
  text-align: right;
  /*align-content: center;*/
}

tr.hoverOnTable:hover {
  background: aliceblue;
}

/*tr.hoverOnTable:not(.hoverOnTable):active {*/
/*  background: #efefef;*/
/*}*/
