<app-modal-process></app-modal-process>
<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" role="button"
      ><i class="fas fa-bars"></i
      ></a>
    </li>
  </ul>

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <!-- Notifications Dropdown Menu -->
    <li *ngIf="ROL != 1" class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#divNotificaciones" style="margin-right: -10px">
            <i class="far fa-bell text-lg"></i>
            <span *ngIf="cantidadAutorizaciones>0"
                  class="badge badge-danger navbar-badge">{{cantidadAutorizaciones}}</span>
          </a>
          <div id="divNotificaciones" [style]="{'height':(cantidadAutorizaciones >= 14) ? '975%' : 'auto' }"
               class="dropdown-menu dropdown-menu-xl dropdown-menu-right">
            <div id="notificaciones-sticky-top" class="dropdown-item dropdown-header">{{cantidadAutorizaciones}}
              Notificaciones
            </div>
            <!--        <option
                                              *ngFor="let dep of departamentos"
                                              value="{{ dep.DPTO_COD }}"
                                            >
                                              {{ dep.DPTO_DESCRIPCION }}
                                            </option>-->
            <div *ngFor="let aut of autorizaciones" style="text-align: center">
              <div class="dropdown-divider"></div>
              <p class="hoverOnTable" style="cursor: pointer"
                 (click)="goDetail(aut.CONS_PROCESO)">
                <i class="fas fa-envelope mr-2"></i> <a
                style="color: black;font-size: small;word-break: break-all;">Se requiere autorizar # </a><a
                style="font-size: 11px;font-weight: bold;color: #545cd8">{{ aut.CONS_PROCESO}}</a>
                <!--            <a style="color: gray;font-size: small;word-break: break-all">{{aut.NOMBRE_PROCESO}}</a>-->
                <!--            <span class="float-right text-muted text-sm">3 mins</span>-->
              </p>
            </div>

            <!--        <div class="dropdown-divider"></div>-->
            <!--        <a href="#" class="dropdown-item">-->
            <!--          <i class="fas fa-users mr-2"></i> 8 friend requests-->
            <!--          <span class="float-right text-muted text-sm">12 hours</span>-->
            <!--        </a>-->
            <!--        <div class="dropdown-divider"></div>-->
            <!--        <a href="#" class="dropdown-item">-->
            <!--          <i class="fas fa-file mr-2"></i> 3 new reports-->
            <!--          <span class="float-right text-muted text-sm">2 days</span>-->
            <!--        </a>-->
            <div class="dropdown-divider"></div>
            <div id="notificaciones-sticky-bot" [routerLink]="['autorizaciones']" class="dropdown-item dropdown-footer"
            >Ver todas las notificaciones
            </div>
          </div>
</li>
    <li class="nav-item">
      <a class="nav-link" role="button" style="margin-right: -7px">
        <!-- (click)="logOut()"       -->
        <!--        <i class="fas fa-sign-out-alt log-out text-lg"></i>-->
        <i class="fa fa-question-circle text-lg" aria-hidden="true"></i>
      </a>
    </li>
    <li class="nav-item">
      <div class="d-flex" style="height: 100%;margin-right: 3.5vh;margin-left: 2vh">
        <div class="vr" style="border: 0.05px solid #ddd9d9;height: 100%;"></div>
      </div>
    </li>
    <li class="nav-item">
      <div class="image mt-0">
        <img
          src={{userImage}}
          class="img-circle elevation-2"
          alt="User Image"
          style="width:36px"
        />
      </div>
    </li>
    <li class="nav-item" style="width:10%">
      <div class="info mr-3">
        <a class="nav-link" data-toggle="dropdown" href="#divVersion"><i class="fas fa-caret-down"
                                                                         style="color:gray"></i></a>
        <div id="divVersion"
             class="dropdown-menu dropdown-menu-xl dropdown-menu-right">
          <div id="version-sticky-top" class="dropdown-item dropdown-header font-weight-normal">
            <div class="container">
              <div class="row">
                <div class="col-12 col-sm-3">
                  <div class="image mt-0">
                    <img
                      src={{userImage}}
                      class="img-circle elevation-2"
                      alt="User Image"
                      style="width:48px;margin-top:20%"
                    />
                  </div>
                </div>
                <div class="col-12 col-sm-6" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                  <span matTooltip="{{nameUser | titlecase}}">{{nameUser | titlecase}}</span>
                  <footer
                    class="blockquote-footer text-center font-weight-lighter"><span style="color: var(--labelColor)">{{entidad | titlecase}}<br><a>{{ROL == 1 ? 'Creador del Proceso y Contrato' :
                    ROL == 2 ? 'Secretaria Juridica' :
                      ROL == 3 ? 'Ordenador del gasto' :
                        ROL == 4 ? 'Secretaria Privada' :
                          ROL == 5 ? 'Comite de Contratacion' :
                            ROL == 6 ? 'DADII' : 'Admin'}}</a></span><br>LegalBase Version 3.2.310122
                  </footer>
                </div>
                <div class="col-12 col-sm-3">
                  <button type="button" (click)="logOut()" class="btn btn-outline-primary" style="margin-top:30%">Salir</button>
                </div>
              </div>

            </div>
          </div>
          <div class="dropdown-divider"></div>
        </div>
      </div>
    </li>
    <li class="nav-item ml-2">
      <div class="info mr-3">
        <!--        <a class="d-block text-xs" style="font-weight: bold; color: var(--companyColor);text-overflow:ellipsis;white-space: nowrap;cursor: pointer" matTooltip="{{entidad | titlecase}}">{{entidad | titlecase}}</a>-->
        <a class="d-block font-weight-normal mb-0" style="font-size: smaller;color: var(--labelColor);overflow: hidden; text-overflow: ellipsis; white-space: nowrap;max-width: 150px">{{nameUser | titlecase}} WWWWWWWWWWWWWWWWWWWWW wwwwwwwwww</a>
        <a class="d-block font-weight-lighter mt-0" style="font-size: x-small;color: var(--labelColor);text-overflow:ellipsis;white-space: nowrap;">{{entidad | titlecase}}</a>
        <!--        <a class="d-block text-sm">{{nameUser | titlecase}}</a>-->
        <!--        <a class="d-block text-xs" style="color: var(--companyColor);text-overflow:ellipsis;white-space: nowrap;cursor: pointer">ROL</a>-->
      </div>
    </li>
    <!--    <li class="nav-item">-->
<!--      <a class="nav-link" (click)="logOut()" role="button">-->
<!--        <i class="fas fa-sign-out-alt log-out text-lg"></i>-->
<!--      </a>-->
<!--    </li>-->
    <!-- <li class="nav-item">
          <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
            <i class="fas fa-th-large"></i>
          </a>
        </li> -->
  </ul>

</nav>
<!-- /.navbar -->

<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" >-->
<!--  Launch demo modal-->
<!--</button>-->
