log-out{
  color: #828282;
}
log-out:hover{
  color: #A65E2E;
}

#divNotificaciones{
  min-height: 75%;
  overflow-y: scroll;
}

#divVersion{
  min-height: 75%;
  overflow-y: scroll;
}

#version-sticky-top{
  position: sticky;
  top: 0;
  /*background: #e6e6e6;*/
  font-weight: bold;
}

#notificaciones-sticky-top{
  position: sticky;
  top: 0;
  background: #ffffff;
  font-weight: bold;
}


#notificaciones-sticky-bot{
  position: sticky;
  bottom: 0;
  background: #ffffff;
  cursor: pointer;
  color: #545cd8;
}

.hoverOnTable:hover {
  background: aliceblue;
}

div.callout{
  border-left-color: var(--companyColor);
}

button.btn-outline-primary{
  background-color: var(--companyColor);
  border-color: var(--sidebarColor);
  color: var(--sidebarColor);
}

button.btn-outline-primary:hover{
  background-color: var(--sidebarColor);
  border-color: var(--companyColor);
  color: var(--companyColor);
}

.barra{
  margin-left: -70px !important;
  margin-right: 0;
  padding: 0;
  max-width: initial;
  width: 106%;
}
