
/* Height for devices larger than 576px */

@media (min-width: 992px) {
  #intro {}
}

.colorLabels{

}

.cursor{
  cursor: pointer;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

table {
  width: 100%;
}
:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mat-column-Num {
  width: 17%;
  border-right: 1px solid lightgray;
  /*padding-right: 1%;*/
  text-align: left;
}
.mat-column-Nombre {
  /*width: 24%;*/
  /*border-right: 1px solid lightgray;*/
  padding-left: 1%;
  border-right: 1px solid lightgray;
  /*padding-left: 1%;*/
  /*text-overflow: ellipsis;*/
  width: 20%;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-column-Entidad {
  width: 24%;
  border-right: 1px solid lightgray;
  padding-left: 1%;
}

.mat-column-Unidad {
  width: 17%;
  border-right: 1px solid lightgray;
  padding-left: 1%;
}

.mat-column-ValorOferta {
  width: 15%;
  padding-left: 1%;
  text-align: right;
}

mat-cell{
  display:flex !important;
  justify-content:center!important;

}

mat-header-cell {
  display:flex;
  justify-content:center;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

