
/* Height for devices larger than 576px */

@media (min-width: 992px) {
  #intro {
  }
}

.colorLabels{

}

.cursor{
  cursor: pointer;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

table {
  width: 100%;
}

/*:host {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: flex-start;*/
/*}*/



.mat-column-Num {
  width: 18%;
  border-right: 1px solid lightgray;
  /*padding-right: 1%;*/
  text-align: left;
}
.mat-column-Nombre {
  /*white-space: nowrap;*/
  /*width: 5%;*/
  /*overflow: hidden;*/
  border-right: 1px solid lightgray;
  padding-left: 1%;
  /*text-overflow: ellipsis;*/
  width: 20%;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mat-column-Estado {
  width: 10%;
  border-right: 1px solid lightgray;
  padding-left: 1%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /*text-align: center;*/
  /*align-content: center;*/
}
.mat-column-Entidad {
  width: 18%;
  border-right: 1px solid lightgray;
  padding-left: 1%;
  /*text-align: center;*/
  /*align-content: center;*/
}
.mat-column-Unidad {
  width: 18%;
  border-right: 1px solid lightgray;
  padding-left: 1%;
  /*text-align: center;*/
  /*align-content: center;*/
}

.mat-column-Fecha {
  width: 9%;
  border-right: 1px solid lightgray;
  padding-left: 1%;
  /*text-align: center;*/
  /*align-content: center;*/
}
.mat-column-ValorOferta {
  width: 30%;
  /*border-right: 1px solid lightgray;*/
  padding-left: 1%;
  text-align: right;
  /*align-content: center;*/
}
.mat-column-Creador {
  width: 14%;
  border-right: 1px solid lightgray;
  padding-left: 1%;
  text-align: left;
  /*align-content: center;*/
}
.mat-column-Identificacion {
  width: 12%;
  border-right: 1px solid lightgray;
  padding-left: 1%;
  text-align: left;
  /*align-content: center;*/
}

mat-cell{
  display:flex !important;
  justify-content:center!important;

}

mat-header-cell {
  display:flex;
  justify-content:center;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

tr.hoverOnTable:hover {
  background: aliceblue;
  cursor: pointer;
}

.nav-tabs .nav-link.active{
  color: var(--labelColor);
  background-color: #F4F6F9;
}

.nav-tabs .nav-link{
  color: lightgray;
}

a{
  color: #495057;
}

.bd img:hover{
  /*border: solid 2px var(--labelColor);*/
}

.card-header a.active{
  border-top: 3px solid var(--companyColor);
}

div.callout{
  border-left-color: var(--companyColor);
}

button.btn-outline-primary{
  background-color: var(--companyColor);
  border-color: var(--sidebarColor);
  color: var(--sidebarColor);
}

button.btn-outline-primary:hover{
  background-color: var(--sidebarColor);
  border-color: var(--companyColor);
  color: var(--companyColor);
}


.cdk-global-overlay-wrapper, .cdk-overlay-container {
  z-index: 99999 !important;
}

.hoverCarga{
  color: #495057
}

.hoverCarga:hover{
  color: var(--companyColor);
}

.iconsBG{
  font-size: smaller;
}

.iconsBG:hover{
  text-decoration: underline;
  /*color:var(--companyColor);*/
  color:#000fff;
  /*font-weight: bold;*/
}

div_container{
  overflow: auto;
}

.borderIcon:hover{
  color: #06092F;
  /*font-size: large;*/
}

.nav-item .nav-link active{
  color:red;
}

.textSmall{
  font-size: smaller;
  font-weight: normal;
  color:var(--labelColor);
}

.textSmaller{
  font-size: smaller;
  font-weight: lighter;
  color: #828282;
}
