<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light-primary elevation-4">
    <!-- Brand Logo -->
    <div style="text-align: center" class="mt-2">
      <img
        [ngStyle]="{'cursor':'pointer'}"
        [routerLink]="['dashboard']"
        src="../../../assets/img/Logo-helppeople-2021.svg"
        alt="..."
        width="40%"
      />
      <!-- <img src="../../../assets/img/logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-4" style="opacity: .8"> -->
    </div>
    <!-- <a href="../../index3.html" class="brand-link">
        <img src="../../../assets/img/logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-4" style="opacity: .8">
        <span class="brand-text font-weight-normal">helppeople</span>
      </a> -->

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image mt-1">
          <img
            [ngStyle]="{'cursor':'pointer'}"
            src={{userImage}}
            class="img-circle elevation-2"
            alt="User Image"
          />
        </div>
        <div class="info">
          <a class="d-block text-sm">{{nameUser | titlecase}}</a>
          <a class="d-block text-xs" style="color: rosybrown">{{entidad | titlecase}}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul
          class="nav nav-pills nav-sidebar nav-child-indent flex-column"
          data-widget="treeview"
          role="menu"
          data-accordion="false"
        >
          <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
          <li *ngIf="rol == 39" class="nav-item" [ngStyle]="{'cursor':'pointer'}">
            <a routerLink ="process" class="nav-link">
              <i class="nav-icon fa fa-edit"></i>
              <p style="color: #545cd8">
                {{'administration-CI.panels.menu1' | translate}}
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
<!--            <ul class="nav nav-treeview">-->
<!--              <li class="nav-item">-->
<!--                <a routerLink ="process" class="nav-link" style="cursor: pointer">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p class="text-sm">{{'administration-CI.panels.menu1' | translate}}</p>-->
<!--                </a>-->
<!--              </li>-->
<!--            </ul>-->
          </li>
          <li class="nav-item" *ngIf="rol != 39" [ngStyle]="{'cursor':'pointer'}">
            <a routerLink ="autorizaciones" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              <p style="color: #545cd8">
                {{'administration-CI.panels.menu2' | translate}}
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
