.ngx-charts {
  margin-top: 10%;
  margin-left: 12%;
}

#chart1 {
  width: 100%;
  display: inline-block;
}

#chart2 {
  width: 50%;
  display: inline-block;
}

#chart3 {
  width: 50%;
  height: auto;
  display: inline-block;
}

#chartPie {
  /*width: 45%;*/
  /*height: auto;*/
  margin-top:  3%;
  margin-bottom: 3%;
  margin-left: 30%;
  /*display: inline-block;*/
}

#filtros {
  /*width: 45%;*/
  /*height: auto;*/
  /*display: inline-block;*/
}

@media (min-width: 992px) {
  #intro {
  }
}

.cursor {
  cursor: pointer;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

table {
  width: 100%;
}

button.btn-primary {
  background-color: var(--companyColor);
  border-color: var(--companyColor);
}


#titulo{
  /*text-align: left;*/
  /*margin-left: -20px;*/
}
